.FONTE_TITULO {font-family:"helvetica",Helvetica; font-size: 24px; font-style: normal; font-weight: 700;}
.FONTE_SUBTITULO {font-family:"helvetica",Helvetica; font-size: 18px; font-style: normal; font-weight: 500;}
.FONTE_IDENT {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_IDENT_NEG {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 700;}
.FONTE_VALOR {font-family:"courier",Helvetica; font-size: 12px; font-style: normal; font-weight: 700;}
.FONTE_UNID {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_FLAG {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_DESC {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_FUNC {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_GD_IDENT {font-family:"helvetica",Helvetica; font-size: 18px; font-style: normal; font-weight: 500;}
.FONTE_GD_VALOR {font-family:"courier",Helvetica; font-size: 18px; font-style: normal; font-weight: 700;}
.FONTE_GD_UNID {font-family:"helvetica",Helvetica; font-size: 18px; font-style: normal; font-weight: 700;}
.FONTE_GD_FLAG {font-family:"helvetica",Helvetica; font-size: 18px; font-style: normal; font-weight: 700;}
.FONTE_PQ_IDENT {font-family:"helvetica",Helvetica; font-size: 9px; font-style: normal; font-weight: 500;}
.FONTE_PQ_VALOR {font-family:"courier",Helvetica; font-size: 10px; font-style: normal; font-weight: 700;}
.FONTE_PQ_UNID {font-family:"helvetica",Helvetica; font-size: 9px; font-style: normal; font-weight: 500;}
.FONTE_PQ_FLAG {font-family:"helvetica",Helvetica; font-size: 9px; font-style: normal; font-weight: 500;}
.FONTE_PQ_DESC {font-family:"helvetica",Helvetica; font-size: 9px; font-style: normal; font-weight: 500;}
.FONTE_PQ_FUNC {font-family:"helvetica",Helvetica; font-size: 9px; font-style: normal; font-weight: 500;}
.FONTE_TAB_CAB {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_TAB_IDENT {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_TAB_VALOR {font-family:"courier",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_TAB_UNID {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_TAB_FLAG {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_TAB_DESC {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_BOTAO {font-family:"helvetica",Helvetica; font-size: 12px; font-style: normal; font-weight: 500;}
.FONTE_LEGENDA {font-family:"helvetica",Helvetica; font-size: 12px; font-style: normal; font-weight: 500;}
.FONTE_EQPTO {font-family:"helvetica",Helvetica; font-size: 12px; font-style: normal; font-weight: 500;}
.FONTE_LIG_ERRADA {font-family:"helvetica",Helvetica; font-size: 12px; font-style: normal; font-weight: 700;}
.FONTE_INDIC_QUALID {font-family:"helvetica",Helvetica; font-size: 12px; font-style: normal; font-weight: 700;}
.FONTE_DEFAULT {font-family:"helvetica",Helvetica; font-size: 12px; font-style: normal; font-weight: 500;}
.FONTE_LOGO_CEPEL {font-family:"times",Helvetica; font-size: 20px; font-style: italic; font-weight: 700;}
.FONTE_INCLINAVEL {font-family:Helvetica; font-size: 20px;}
.STANDARD {font-family:Helvetica; font-size: 20px;}
.FONTE_TITULO_NEGRITO {font-family:"charter",Helvetica; font-size: 18px; font-style: italic; font-weight: 700;}
.FONTE_TITULO_40I {font-family:"charter",Helvetica; font-size: 40px; font-style: italic; font-weight: 700;}
.FONTE_TITULO_GERAL {font-family:"times",Helvetica; font-size: 20px; font-style: italic; font-weight: 700;}
.FONTE_TITULO_COMUM {font-family:"times",Helvetica; font-size: 14px; font-style: normal; font-weight: 700;}
.FONTE_FREQ {font-family:"helvetica",Helvetica; font-size: 60px; font-style: normal; font-weight: 700;}
.FONTE_TITULO {font-family:"helvetica",Helvetica; font-size: 25px; font-style: normal; font-weight: 700;}
.FONTE_TEXTO {font-family:"helvetica",Helvetica; font-size: 14px; font-style: normal; font-weight: 500;}
.FONTE_TEXTO_PEQUENO {font-family:"courier",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_TEXTO_NORMAL {font-family:"courier",Helvetica; font-size: 12px; font-style: normal; font-weight: 500;}
.FONTE_TEXTO_MEDIO {font-family:"courier",Helvetica; font-size: 14px; font-style: normal; font-weight: 500;}
.FONTE_TEXTO_GRANDE {font-family:"courier",Helvetica; font-size: 18px; font-style: normal; font-weight: 500;}
.FONTE_TEXTO_35BARRAS {font-family:"courier",Helvetica; font-size: 20px; font-style: normal; font-weight: 500;}
.FONTE_IDENT_0 {font-family:"helvetica",Helvetica; font-size: 20px; font-style: normal; font-weight: 700;}
.FONTE_IDENT_1 {font-family:"helvetica",Helvetica; font-size: 18px; font-style: normal; font-weight: 700;}
.FONTE_IDENT_2 {font-family:"helvetica",Helvetica; font-size: 14px; font-style: normal; font-weight: 700;}
.FONTE_IDENT_3 {font-family:"helvetica",Helvetica; font-size: 12px; font-style: normal; font-weight: 700;}
.FONTE_IDENT_32 {font-family:"helvetica",Helvetica; font-size: 12px; font-style: normal; font-weight: 700;}
.FONTE_IDENT_4 {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 700;}
.FONTE_IDENT_42 {font-family:"courier",Helvetica; font-size: 11px; font-style: normal; font-weight: 500;}
.FONTE_MEDIDA {font-family:"courier",Helvetica; font-size: 12px; font-style: normal; font-weight: 700;}
.FONTE_MEDIDA1 {font-family:"courier",Helvetica; font-size: 14px; font-style: normal; font-weight: 700;}
.FONTE_MEDIDA2 {font-family:"helvetica",Helvetica; font-size: 18px; font-style: normal; font-weight: 700;}
.FONTE_MEDIDA3 {font-family:"courier",Helvetica; font-size: 18px; font-style: normal; font-weight: 700;}
.FONTE_MEDIDA_35BARRAS {font-family:"courier",Helvetica; font-size: 20px; font-style: normal; font-weight: 700;}
.FONTE_UNID_MED {font-family:"courier",Helvetica; font-size: 14px; font-style: normal; font-weight: 500;}
.FONTE_BOTAO {font-family:"charter",Helvetica; font-size: 11px; font-style: normal; font-weight: 700;}
.FONTE_BOTAO_INDICE {font-family:"courier",Helvetica; font-size: 17px; font-style: normal; font-weight: 700;}
.FONTE_POTENCIA {font-family:"helvetica",Helvetica; font-size: 14px; font-style: normal; font-weight: 700;}
.FONTE_STATUS {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_RET_CTL {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_ATLV {font-family:"helvetica",Helvetica; font-size: 14px; font-style: normal; font-weight: 700;}
.FONTE_CONTROLE {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_NOME_NEGRITO {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 700;}
.FONTE_NOME_COMUM {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_SIMBOLO_CHESF {font-family:"lucida",Helvetica; font-size: 26px; font-style: normal; font-weight: 500;}
.FONTE_TIT_NEGRITO {font-family:"helvetica",Helvetica; font-size: 20px; font-style: normal; font-weight: 700;}
.FONTE_TIT_INDICE {font-family:"helvetica",Helvetica; font-size: 18px; font-style: normal; font-weight: 500;}
.FONTE_TIT_IND_NEGRITO {font-family:"helvetica",Helvetica; font-size: 17px; font-style: normal; font-weight: 700;}
.FONTE_TIT_TAB {font-family:"helvetica",Helvetica; font-size: 20px; font-style: normal; font-weight: 700;}
.FONTE_TIT_COL_TAB {font-family:"helvetica",Helvetica; font-size: 12px; font-style: normal; font-weight: 700;}
.FONTE_BOTAO_INDICE {font-family:"helvetica",Helvetica; font-size: 12px; font-style: normal; font-weight: 500;}
.FONTE_DESCR_BOT_INDICE {font-family:"helvetica",Helvetica; font-size: 14px; font-style: normal; font-weight: 500;}
.FONTE_BOTAO_NOVO {font-family:"courier",Helvetica; font-size: 12px; font-style: normal; font-weight: 500;}
.FONTE_BOT_TAB {font-family:"helvetica",Helvetica; font-size: 12px; font-style: normal; font-weight: 500;}
.FONTE_DET_TAB_GRD {font-family:"helvetica",Helvetica; font-size: 12px; font-style: normal; font-weight: 500;}
.FONTE_IDENT_GRD {font-family:"helvetica",Helvetica; font-size: 12px; font-style: normal; font-weight: 500;}
.FONTE_IDENT_MED {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_IDENT_PEQ {font-family:"courier",Helvetica; font-size: 8px; font-style: normal; font-weight: 500;}
.FONTE_IDENT_EST {font-family:"courier",Helvetica; font-size: 8px; font-style: normal; font-weight: 500;}
.FONTE_IDENT_MAQUETE {font-family:"courier",Helvetica; font-size: 12px; font-style: normal; font-weight: 700;}
.FONTE_IDENT_CIRC_MAQ {font-family:"courier",Helvetica; font-size: 12px; font-style: normal; font-weight: 700;}
.FONTE_POKEPOINT_MAQ {font-family:"courier",Helvetica; font-size: 14px; font-style: italic; font-weight: 700;}
.FONTE_COMPENSADOR {font-family:"helvetica",Helvetica; font-size: 14px; font-style: normal; font-weight: 700;}
.MEDIDA_KV {font-family:"courier",Helvetica; font-size: 20px; font-style: normal; font-weight: 500;}
.MEDIDA_MW {font-family:"courier",Helvetica; font-size: 25px; font-style: normal; font-weight: 500;}
.MEDIDA_MVAR {font-family:"courier",Helvetica; font-size: 20px; font-style: normal; font-weight: 500;}
.MEDIDA_AMP {font-family:"courier",Helvetica; font-size: 20px; font-style: normal; font-weight: 500;}
.MEDIDA_TAP {font-family:"courier",Helvetica; font-size: 20px; font-style: normal; font-weight: 500;}
.MEDIDA_KV_EAR {font-family:"courier",Helvetica; font-size: 20px; font-style: normal; font-weight: 500;}
.MEDIDA_MW_EAR {font-family:"courier",Helvetica; font-size: 14px; font-style: normal; font-weight: 500;}
.MEDIDA_MVAR_EAR {font-family:"courier",Helvetica; font-size: 14px; font-style: normal; font-weight: 500;}
.FONTE_TAB_MED {font-family:"courier",Helvetica; font-size: 14px; font-style: normal; font-weight: 500;}
.FONTE_TAB_MED_GR {font-family:"courier",Helvetica; font-size: 14px; font-style: normal; font-weight: 500;}
.FONTE_TAB_BOLD_GR {font-family:"courier",Helvetica; font-size: 14px; font-style: normal; font-weight: 700;}
.FONTE_DESCR_MED {font-family:"courier",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.NOME_INS_EAR {font-family:"helvetica",Helvetica; font-size: 14px; font-style: normal; font-weight: 700;}
.NOME_EB {font-family:"helvetica",Helvetica; font-size: 34px; font-style: normal; font-weight: 700;}
.COD_INS_EAR {font-family:"helvetica",Helvetica; font-size: 14px; font-style: normal; font-weight: 700;}
.TABDIN {font-family:"courier",Helvetica; font-size: 14px; font-style: normal; font-weight: 500;}
.TABTITU {font-family:"helvetica",Helvetica; font-size: 25px; font-style: normal; font-weight: 700;}
.TABTEXTO {font-family:"helvetica",Helvetica; font-size: 17px; font-style: normal; font-weight: 700;}
.SARTAB {font-family:"courier",Helvetica; font-size: 18px; font-style: normal; font-weight: 700;}
.LEGENDA {font-family:"helvetica",Helvetica; font-size: 18px; font-style: normal; font-weight: 700;}
.FONTE_DESCR_GRD {font-family:"courier",Helvetica; font-size: 14px; font-style: italic; font-weight: 500;}
.TITU_LEGENDA {font-family:"helvetica",Helvetica; font-size: 14px; font-style: normal; font-weight: 700;}
.FONTE_TAB_CAB {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_TAB_IDENT {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_TAB_VALOR {font-family:"courier",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_TAB_UNID {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_TAB_FLAG {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
.FONTE_TAB_DESC {font-family:"helvetica",Helvetica; font-size: 10px; font-style: normal; font-weight: 500;}
